@use '../../../../styles/mixins' as *;
@use '../../../../styles/variables' as *;

.ServiciosCard {
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: $very-dark-stone;
    transition: box-shadow .3s ease;

    &:hover {
        box-shadow: -8px 9px 8px 0px $light-stone;
    }
    
    &__container {
    }

    &__h3 {
        color: $pure-white
    }

    &__p {
        color: $pure-white
    }    

    &__media {};

    &__image {
        height: 12rem;
        object-fit: cover;
        width: 100%;
        border-radius: .75rem;
        margin-bottom: 1rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}