@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.About {
    min-height: 100vh;
    background-color: $very-dark-stone;
    padding: 5rem 1.5rem;

    @include tablet-desktop(){
        display: flex;
        justify-content: center;
    }

    &__container {
        max-width: 1152px;
        display: flex;
        flex-direction: column;
        gap: 4rem;
        @include tablet-desktop(){
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 4rem;
        }
    }


    &__intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        grid-area: 1 / 1 / 2 / 2;

        @include tablet-desktop(){
            align-items: flex-start;
            gap: 1.5rem;
        }
    }

    &__title {
        font-size: 3rem;
        color: $pure-white;
    }

    &__description {
        color: $pure-white;
        line-height: 1.7;
        font-size: 1.125rem;
    }

    &__socials {
        align-self: flex-start;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        
        @include tablet-desktop(){
            flex-direction: row;
        }
    }
    

    &__mission {
        &-intro {
            padding: 1.5rem;
            border-radius: 1rem;
            background-color: $pure-white;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            grid-area: 1 / 2 / 2 / 3;

        }

        &-title {
            color: $dark-stone;
        }

        &-description {
            color: $medium-stone;
            line-height: 1.6;
        }
    }

    &__mission-image {
        width: 100%;
        height: 16rem;
        object-fit: cover;
        border-radius: 1rem;
        margin-bottom: 1rem;
    }

    &__visit {
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background-color: $pure-white;
        border-radius: 1rem;
        grid-area: 2 / 1 / 3 / 3;
        justify-content: center;
        padding: 2rem;

        &-title {
            font-size: 2rem;
            color: $dark-stone;
            text-align: center;
            margin-bottom: 2rem;

            @include tablet-desktop(){
                margin-bottom: 1.5rem;
            }
        }

        &-cards {
            display: flex;
            justify-content: center;
            flex-direction: column;            
            gap: 2rem;
            @include tablet-desktop(){
                flex-direction: row;
                justify-content: space-around;
            }
        }
    }
}