// primary-colors
$amber-color: #f9b17a;
$dark-amber: #c98f63;   
$light-amber: #F59E0B;

// neutral-colors
$dark-stone: #333333;
$medium-stone: #57534E;
$light-stone: #E7E5E4;
$very-dark-stone:#25232e;
$pure-white:#fbfbfb;