// primary-colors
$amber-color: #D97706;
$dark-amber: #B45309;
$light-amber: #F59E0B;

// neutral-colors
$dark-stone: #333333;
$medium-stone: #57534E;
$light-stone: #E7E5E4;
$very-light-stone:#FAF8F6;
$pure-white:#FFFFFF;