@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.Hero {
    background-color: $very-dark-stone;
    padding: 7rem 1.5rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &__container {
        max-width: 1152px;
        // margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        @include tablet-desktop(){
            flex-direction: row;
        }
    }

    &__content {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 2rem;
    }

    &__media {
        flex: 1;
        min-width: 0;
    }

    &__image {
        width: 100%;
        object-fit: cover;
        max-height: 24rem;
        object-position: center;
        border-radius: 1rem;
        // obj
    }

    &__h1 {
        font-size: 4rem;
        color: $pure-white;
    }

    &__span {
        color: $amber-color;
    }

    &__description {
        line-height: 1.7;
        color: $pure-white;
        font-size: 1.125rem;
    }

    &__ctaButtons-container{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @include tablet-desktop(){
            flex-direction: row;
        }
    }
}