@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as *;

.Footer {
    background-color: $very-dark-stone;
    padding: 2rem;
    display: flex;
    justify-content: center;

    &__container {
        max-width: 1152px;
        width: 100%;
    }
    
    &__intro {
        padding-bottom: 2rem;
        border-bottom: 1px solid $light-stone;
        margin-bottom: 1.5rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &-logo {
            color: $pure-white;
            font-size: 1.5rem;
        }
        
        &-phrase {
            color: $light-stone;
        }
    }


    &__credit {
        color: $light-stone;
        display: flex;
        justify-content: center;
        font-size: .9rem;
    }

    &__socials {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
    }
}