@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.Servicios {
    min-height: 100vh;
    display: flex;
    align-items: center;    
    justify-content: center;
    padding: 5rem 1.5rem;

    &__container {
        max-width: 1152px;
        display: flex;
        flex-direction: column;
        align-items: center;
    };

    &__content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;

        @include tablet-desktop(){
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
        }
    }

    &__sectionTitle {
        max-width: 670px;
        text-align: center;
        margin-bottom: 5rem;
    };

    &__h2 {
        font-size: 3rem;
        color: $dark-stone;
        margin-bottom: 1rem;
    }

    &__p {
        font-size: 1.125rem;
        line-height: 1.7;
        color: $medium-stone;
    }
}