@use './styles/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
//   font-family: "Playfair Display", serif;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
//   font-family: "Inter", sans-serif;


html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Work Sans", sans-serif;
}

a {
    text-decoration: none;
    color: $pure-white;

}

a,p, span, button, li{
  font-family: "Work Sans", sans-serif;
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
}